/* Estilos CSS */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff; /* Color de fondo blanco */
}

header {
    background-color: #3b5998; /* Color azul corporativo */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.logo {
    width: 120px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    float: left; /* Coloca el logo a la izquierda */
    margin-right: 20px; /* Espacio entre el logo y el título */
}

h2 {
    text-align: center; /* Centra todos los títulos h2 */
}

nav {
    background-color: #3b5998; /* Color de fondo del menú */
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style the horizontal navigation menu */
nav ul li {
    display: inline-block;
}

/* Style the links in the navigation menu */
nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ece6e6f8; /* Color del texto */
}

/* Style the dropdown button */
.dropdown .dropbtn {
    padding: 10px;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra */
}

/* Style the links inside the dropdown content */
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #0a0a0ae7; /* Color del texto */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd; /* Color de fondo al pasar el ratón */
}

.carruseles {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

/* Estilos para el carrusel */
.carruseles-container {
    display: flex;
    align-items: flex-start; /* Alinea los elementos al principio */
    margin-top: 20px;
}

.carrusel {
    width: 200px;
    height: 150px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-right: 20px; /* Espacio entre los carruseles */
}

.info {
    background-color: #fff;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 8px;
     width: 600px; /* Reducir el ancho del contenedor */
     text-align: justify;
}

.carrusel img {
    width: 100%; /* Ajustar la imagen al ancho del contenedor */
    height: 100%;
}

.expandido {
    width: 70%;
    height: 70%; /* Cambiar la altura automática */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: none;
}

.informacion {
    margin-top: 20px;
    text-align: center;
}



footer {
    background-color: #3b5998; /* Color azul corporativo */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

.redes-sociales a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.redes-sociales a:hover {
    text-decoration: underline;
}


.like-comment-section {
    display: flex;
    align-items: center;
}

/* Estilos para el botón de "Me gusta" */
.like-btn {
    margin-right: 10px; /* Espacio entre los botones */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
}

/* Estilos para el botón de "No me gusta" */
.dislike-btn {
    margin-right: 10px; /* Espacio entre los botones */
    background-color: #dc3545; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
}

/* Estilos para el texto de "Comentar" */
.comentar-link {
    color: #333; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    cursor: pointer; /* Cursor de puntero */
}
.blog-content {
    display: block;
}

.blog-image {
    width: 400px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    float: left; /* Coloca el logo a la izquierda */
    margin-right: 20px; /* Espacio entre el logo y el título */
}

.text-content {
    width: 90%; /* Ajusta el tamaño del contenido de texto según sea necesario */
}


.text-content p {
    text-align: justify; /* Texto justificado */
}
